<div class="row">
  <% if params[:vote_error] %>
    <p class="bg-warning"><%= params[:vote_error] %></p>
  <% end %>
</div>


<% @songs.each do |song| %>
  <div class="row">
    <div class="col-md-2">Votes: <%= song.votes.count %></div>
    <div class="col-md-8">
      <a href="songs/<%= song.id %>"><%= song.title %></a> by <%= song.author %>
    </div>
    <% if logged_in? %>
      <div class="col-md-2">
        <form action="/votes" method="POST">
          <input type="hidden" name="song_id" value="<%= song.id %>" />
          <% if current_user.votes.find_by(song_id: song.id).nil? %>
            <input type="submit" value="Vote Up" class="btn btn-primary" />
          <% end %>
        </form>
      </div>
    <% end %>
  </div>
<% end %>

<% if logged_in? %>
  <a href="/songs/new">Add a New Song</a>
<% end %>