<h1>Song details</h1>

<div>
  <p>Title: <%= @song.title %></p>
  <p>Author: <%= @song.author %></p>
  <% if @song.url && @song.url.length > 0 %>
    <p>Url: <%= @song.url %></p>
  <% end %>
</div>

<% if @song.other_songs.any? %>
  <div>
    <h3>Other songs by <%= @song.author %></h3>
    <% @song.other_songs.each do |song| %>
      <p><a href="/songs/<%= song.id %>"><%= song.title %></a></p>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <% if current_user.reviews.find_by(song_id: @song.id).nil? %>
    <%= erb :'songs/_review_form' %>
  <% end %>
<% else %>
  <p><a href="/signup">Sign up</a> or login to review this song!</p>
<% end %>

<% if @song.reviews.any? %>
  <h3>Reviews for <%= @song.title %></h3>
  <% @song.reviews.each do |review| %>
    <div>
      <p>Rating: <%= review.rating %></p>
      <p><%= review.content %></p>
      <p>reviewed by <%= review.user.email %></p>
      <% if current_user && review.user.id == current_user.id %>
        <p>
          <form action="/songs/<%= @song.id %>/reviews/delete" method="post">
            <input type="hidden" name="review_id" value="<%= review.id %>" />
            <input type="hidden" name="song_id" value="<%= @song.id %>" />
            <input type="hidden" name="_method" value="delete" />
            <button>Delete Review</button>
          </form>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>

<a href="/songs">Back to all Songs</a>