<h1>Song details</h1>

<div>
  <p>Title: <%= @song.title %></p>
  <p>Author: <%= @song.author %></p>
  <% if @song.url.length > 0 %>
    <p>Url: <%= @song.url %></p>
  <% end %>
</div>

<% if @other_songs.any? %>
  <div>
    <h3>Other songs by <%= @song.author %></h3>
    <% @other_songs.each do |song| %>
      <p><a href="/songs/<%= song.id %>"><%= song.title %></a></p>
    <% end %>
  </div>
<% end %>

<a href="/songs">Back to all Songs</a>